services:
  - type: web
    name: rh-backend
    env: python
    region: oregon # o virginia, ohio
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: SUPABASE_SERVICE_KEY
        sync: false
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /auth/health
    autoDeploy: true
